{% extends 'admin_base.html' %}
{% comment %} <html>
    <title>
            Contact Form
    </title>
    <body>
    <center>
        <p> oreder detils</p>
    </center>
    <br><br>
    <form method="POST" >
         {% csrf_token %}
         
         <input type="text" name="name" placeholder="ENter TITLE OF email" size="45">
         <br><br>
         <input type="email" name="email" placeholder=" Enter Email ">
         <br><br>

         <textarea  type="text" name="message" placeholder="address"></textarea>
         <br><br>
         <input type="emailname" name="message" placeholder=" Enter Email ">
         <br><br> {% endcomment %}
         {% comment %} <input type="text" name="number" placeholder="phonenumber" size="45">
         <br><br> {% endcomment %}
         {% comment %} <br><input type="submit"value="Send">
    </form>
</body>
<html> {% endcomment %}

{% block main %}

<div class="card shadow">
    <div class="card-body">
        <h5 class="p-2" style="border-bottom: 2px solid orange;">Give Order Detils To Worker</h5>
        <div class="container-fluid">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-label" for="form4Example1">Worker Type</label>
      <select name="category" class="form-control" >
        <option value=""  name="type">Select worker Type</option>
        {% for i in worker %}
        <option value="{{i.id}}">{{i.professional}}</option>
        {% endfor %}
    </select>
                            </div>
                        </div>
                            </div>
                        </div>  
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="form-label" for="form4Example2">Select Worker</label>
        <select name="category1" class="form-control" >
            <option value="">Select worker</option>
            {% for i in worker %}
            <option value="{{i.id}}">{{i.user.first_name}}</option>
            {% endfor %}
        </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="form-label" for="form4Example1">Worker E-mail id</label>
        {% csrf_token %}
      
          <input type="text" id="form4Example1"   name="email" class="form-control" />
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="form-label" for="form4Example1">Order ID</label>
      {% csrf_token %}

        <input type="text" id="form4Example1"   name="order" class="form-control" />
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <label class="form-label" for="form4Example1">Username</label>
                    {% csrf_token %}
              
                      <input type="text" id="form4Example1"   name="name" class="form-control" />
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label class="form-label" for="form4Example1">User Address</label>
                {% csrf_token %}
          
                  <input type="text" id="form4Example1"   name="add" class="form-control" />
            </div>
        </div>
    </div>
                <input type="submit" value="Submit" class="m-2 px-3 btn btn-primary">
            </form>
        </div>
    </div>
</div>

{% endblock %}