{% include 'navigation.html' %}
{% load static %}
<html>
<head>
    <script>
    function checkpass()
    {
        if(document.signup.pwd.value!=document.signup.cpwd.value)
        {
            alert('Password and Repeat Password field does not match');
            document.signup.cpwd.focus();
            return false;
        }
        return true;
    }

    </script>

</head>
{% comment %} <body id ="registration"style = "background-image : url({% static 'images/REE.jpg' %})"> {% endcomment %}
    <body id="login" style = "background-image : url({% static 'images/wh.jpg' %})">
<hr class="mt-0">

<div class="card shadow m-5" id="signupform">
    <div class="card-body">

        <div class="container-fluid">
            <h5 class="p-2" style="border-bottom: 2px solid orange;color:green">Create an Account</h5>
            <form method="POST" name="signup" onsubmit="return checkpass();" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="fill">First Name</label>
                            <input type="text" name="fname" placeholder="Enter First Name" class="form-control"
                                 required  pattern="[A-Za-z]+">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="fill">Last Name</label>
                            <input type="text" name="lname" placeholder="Enter Last Name" required class="form-control"
                                   pattern="[A-Za-z]+">
                        </div>
                    </div>


                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="fill">Email ID</label>
                            <input type="email" name="email" placeholder="Email Address" required class="form-control">
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="fill">Contact</label>
                            <input type="text" name="mobile" placeholder="Contact Number" required
                                   class="form-control">
                        </div>
                    </div>


                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="fill">Password</label>
                            <input type="password" name="password" placeholder="Enter Password" required class="form-control">
                        </div>
                    </div>

                    {% comment %} <div class="col-sm-6">
                        <div class="form-group">
                            <label>Confirm Password</label>
                            <input type="password" name="cpwd" placeholder="Enter Password Again"  class="form-control" required>
                        </div>
                    </div> {% endcomment %}

                    {% comment %} <div class="col-sm-12">
                        <div class="form-group">
                            <label>Upload PIC</label>
                            <input type="file" name="image" class="form-control">
                        </div>
                    </div> {% endcomment %}

                    <div class="col-sm-6">
                        <div class="form-group">
                          <b>  <label class="fill">Address</label><b>
                            <textarea name="address" class="form-control" required placeholder="Full Address"></textarea>
                        </div>
                    </div>

                </div>
                <input type="submit" value="Submit" class="m-2 px-3 btn btn-primary">
                <div>   <a href="/" class="btn btn-success">BACK</a></div>
                <div class="options">
                  <b>  Already have an account?<a href="{% url 'userlogin' %}">Login here</a>
                    <br><br>
                </div>
            </form>
        </div>
    </div>
</div>
<style>

    .options{
        color:black;
    }
    .fill
    {
        color:black;
    }
</style>
</body>
</html>